.orderHistory {
	background-color: #fafafa;

	.orderHistoryWrap {
		width: 600px;
		margin: 0 auto;

		.orderHistoryHeader {
			padding: 0px 16px;
			background-color: #f5f5f5;
			border-bottom: 1px solid #e0e0e0;

			.orderHistoryTitle {
				padding: 10px 0 13px;
			}

			// 검색창
			.orderHistorySearch {
				position: relative;

				.orderHistorySearchInput {
					width: 100%;
					background-color: #fff;
					border: none;
					font-size: 17px;
					padding: 9px 14px;
				}

				.orderHistorySearchBtn {
					position: absolute;
					right: 0;
					top: 0;
					height: 100%;
					padding: 10px;
					font-size: 18px;
					color: #939393;
				}
			}

			.orderHistoryNav {
				margin-top: 12px;

				.orderHistoryNavList {
					display: flex;

					.orderHistoryNavItem {
						position: relative;
						margin: 0 10px;
						padding-bottom: 7px;

						> a {
							color: #737373;
						}
					}

					.isActive {
						> a {
							color: #000;
						}

						&::after {
							position: absolute;
							content: "";
							width: 100%;
							border-bottom: 2px solid #000;
							bottom: -1px;
							left: 0;
						}
					}
				}
			}
		}

		.orderHistoryList {
			background-color: #fff;
			padding: 15px 18px;

			.orderHistoryGroup {
				.orderHistoryDate {
					display: flex;
					justify-content: space-between;
					padding: 5px 0;
					font-size: 22px;

					.orderHistoryDetailLink {
						text-decoration: underline;
						color: #8f8f8f;
						font-size: 12px;
						align-content: center;
						font-family: "NotoSansKR";
					}
				}

				.orderHistoryItems {
					.orderHistoryItem {
						padding: 15px 0;

						&:nth-child(n + 2) {
							border-top: 1px solid #aaa;
						}

						.orderHistoryStatus {
							padding: 5px 0;
							color: #717171;
							font-size: 16px;
							letter-spacing: 2px;
						}

						.orderHistoryProduct {
							display: flex;
							padding: 5px 0;

							.orderHistoryThumb {
								position: relative;
								width: 72px;
								border-radius: 5px;
								overflow: hidden;
							}

							.orderHistoryInfo {
								margin-left: 12px;
								padding: 3px 0px;

								.orderHistoryBrand {
									letter-spacing: 1.8px;
								}

								.orderHistoryName {
									padding-top: 3px;
									font-size: 13px;
								}

								.orderHistoryOption {
									color: #939393;
									padding-top: 4px;
								}

								.orderHistoryPrice {
									font-size: 15px;
									letter-spacing: 0.9px;
								}
							}
						}

						.orderHistoryButtons {
							padding: 5px 0;
							display: flex;
							gap: 5px;

							.orderHistoryBtn {
								width: 50%;
								border: 1.5px solid #cdcccc;
								border-radius: 5px;
								padding: 5px 0;
								font-size: 17px;
								letter-spacing: 1px;
							}

							.orderHistoryBtnGray {
								/* 기존: order-history__btn--gray */
							}
						}
					}
				}
			}
		}
	}
}
