.tabList {
	display: flex;
	li {
		color: #222222;
		margin: 0 8px;
		position: relative;
	}
}

.brandTabList {
	li {
		&:global(.on):after {
			content: "";
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
			bottom: -12px;
			background: #000;
		}
	}
}

.categoryTabList {
	li {
		&:global(.on) {
			font-size: 16px;
			font-weight: 600;
			color: #000;
		}
	}
}
