/* input 입력 div */
.join-input {
	display: flex;
	font-size: 23px;
	text-align: left;
	margin-bottom: 10px;
}
.join-input .join-label {
	padding-top: 10px;
	width: 30%;
}
.join-input .join-text {
	width: 70%;
	height: 100%;
}
.join-input .join-text > div input {
	width: 70%;
	padding: 7px 10px;
	font-size: 20px;
	border: 1px solid #aaa;
	border-radius: 5px;
	outline: none;
}
.join-input .join-text > div .search-btn {
	width: 25%;
	margin-left: 5px;
	padding: 7px 10px;
	border-radius: 5px;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}
.join-input .join-text > div .search-btn.address {
	border: 2px solid #ad9090;
	background: #ee6666;
}
.join-input .join-text > div .search-btn.address:hover {
	background: #df6060;
}
.join-input .join-text > div .search-btn.phone {
	border: 2px solid #83a77e;
	background: #4fdb3d;
}
.join-input .join-text > div .search-btn.phone:hover {
	background: #4acc39;
}
.join-input .join-text > div .search-btn.phoneAuth {
	border: 2px solid #d7d7d7;
	background: #3a7add;
}
.join-input .join-text > div .search-btn.phoneAuth:hover {
	background: #2d72dd;
}
.join-input .join-text > div.info-val .btn {
	border: 1px solid #9d9d9d;
	border-radius: 12px;
	font-size: 20px;
	padding: 4px 12px;
	font-weight: bold;
	background-color: rgb(174, 179, 169);
	color: #fff;
}
.join-input .join-text > div.info-val .btn:hover {
	background-color: rgb(155, 158, 153);
	color: #eee;
	transition: all 0.3s;
}
.join-input .join-text > div.info-val .btn:active {
	box-shadow: none;
	transition: all 0s;
	transform: translate(1px, 1px);
	background-color: rgb(20, 196, 20);
	border-color: #fff;
}
.join-input .join-text p {
	display: none;
	margin-top: 5px;
	font-size: 15px;
}
.join-input .join-text.fail p,
.join-input .join-text.success p {
	display: block;
}
.join-input .join-text.fail > div input {
	border: 1px solid #f00;
	color: #f00;
}
.join-input .join-text.success > div input {
	border: 1px solid #0f0;
	border: 1px solid rgb(90, 161, 90);
}
.join-input.mark .join-label {
	padding-top: 0;
}
