// 버튼
.ConfirmButton {
	margin-top: 20px;
	display: flex;
	gap: 8px;
	button {
		width: 50%;
		border: 1px solid #e5e5e5;
		font-family: NotoSansKR;
		border-radius: 4px;
		padding: 10px 20px;
		font-size: 14px;

		&.off {
			background-color: #e9e9e9;
			color: #b1b1b1;
			cursor: not-allowed;
		}
	}
}
