.productSlider {
	user-select: none;
	width: 100%;
	overflow: hidden;
}

.productSwiper {
	width: 100%;

	:global(.swiper-wrapper) {
		transition-timing-function: linear !important;
		align-items: stretch;
	}

	:global(.swiper-slide) {
		width: auto;
	}
}
.productItem {
	position: relative;
	height: 300px;
	width: auto;

	img {
		height: 100%;
		width: auto;
		object-fit: contain;
		display: block;
	}
}

.copyright {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0 5px;
	font-size: 12px;
	color: #fff;

	&:hover {
		text-decoration: underline;
	}
}
