@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes popIn {
	from {
		opacity: 0;
		transform: scale(0.95);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
@keyframes popOut {
	from {
		opacity: 1;
		transform: scale(1);
	}
	to {
		opacity: 0;
		transform: scale(0.95);
	}
}
.animateFadeIn {
	animation: fadeIn 0.4s ease-out;
}
.animateFadeOut {
	animation: fadeOut 0.4s ease-out;
}
.animatePopIn {
	animation: popIn 0.4s ease-out;
}
.animatePopOut {
	animation: popOut 0.4s ease-out;
}
