/* 각 상품들 */
.productItem {
	position: relative;
}
/* 이미지 */
.productThumb {
	position: relative;
	display: block;
	aspect-ratio: 5 / 6;
	:global(.swiper) {
		width: 100%;
		height: 100%;
	}
	:global(.swiper-pagination) {
		z-index: 10;
	}
}

.imageBox {
	position: relative;
	width: 100%;
	height: 100%;
}

/* 정보 영역 */
.productInfo {
	padding: 12px 8px 24px 12px;
	display: flex;
	flex-direction: column;
}

.productName {
	font-weight: 500;
}

.productPrice {
	font-weight: 600;
}

.productMeta {
	display: flex;
	font-size: 14px;
	align-items: center;

	> div {
		display: inline-flex;
		align-items: center;
		.metaCount {
			margin-top: 3px;
		}
	}
}

.metaWish {
	margin-right: 5px;
	color: #f00;
}

.metaRate {
	color: #e79278;
}

.metaIcon {
	margin-right: 4px;
}
