.grid {
	display: grid;
	grid-template-columns: repeat(6, minmax(0, 1fr));

	@media (max-width: 1280px) {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
	@media (max-width: 768px) {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}
