.title {
	a {
		color: gray;
		font-weight: bold;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
		margin: 0;
	}
}
.headerBtn {
	> a,
	> button {
		position: relative;
		background: none;
		border: none;
		margin-left: 20px;
		cursor: pointer;
		font-size: 24px;
		svg {
			display: inline;
		}
	}
}
