.orderDetail {
	background-color: #fafafa;

	.orderDetailWrap {
		width: 600px;
		margin: 0 auto;
		border: 1px solid #eee;
		border-top: none;
		border-bottom: none;
		.orderDetailHeader {
			padding: 16px 16px 10px;
			background-color: #efefef;
			border-bottom: 1px solid #e0e0e0;

			.orderDetailTitle {
				padding: 0 0 13px;
				font-size: 25px;
			}
		}
		.orderDetailList {
			background-color: #fff;
			padding: 15px 0;
			article {
				margin-bottom: 35px;
				> h2 {
					padding: 0 12px;
					font-size: 23px;
				}
				> div {
					margin-top: 10px;
					background-color: #efefef;
					padding: 18px 23px;
					border-radius: 10px;
				}
			}
			.orderItemSection {
				.orderItemList {
					ul {
						li {
							.sellerInfo {
								display: flex;
								justify-content: space-between;
								border-bottom: 1px solid #a8a8a8;
								padding-bottom: 15px;
								.sellerName {
									a {
										font-size: 20px;
										&:hover {
											text-decoration: underline;
										}
									}
									h5 {
										font-size: 16px;
										color: #797979;
										font-weight: 300;
									}
								}
								.sellerActions {
									button {
										border: 1px solid #7c7c7c;
										padding: 3px 8px;
										border-radius: 5px;
										font-size: 17px;
									}
								}
							}
							.orderItemInfo {
								margin-bottom: 10px;
								.orderItem {
									.orderStatus {
										padding: 10px 0;
										.orderStatusText {
											font-weight: 600;
											font-size: 18px;
											color: #525252;
											letter-spacing: 1px;
										}
										.orderStatusDate {
											margin-left: 5px;
											font-size: 16px;
											color: #797979;
										}
									}
									.orderItemContent {
										display: flex;
										.productImage {
											position: relative;
											width: 80px;
											height: 80px;
											border: 1px solid #d9d9d9;
											border-radius: 2px;
										}
										.productInfo {
											width: calc(100% - 90px);
											margin-left: 15px;
											padding: 3px 0;
											h4 {
												font-weight: 300;
											}
											h5 {
												color: #797979;
												font-size: 16px;
												font-weight: 300;
											}
											.price {
												span {
													font-weight: 600;
												}
												del {
													margin-left: 5px;
													color: #797979;
												}
											}
											.couponButton {
												button {
													font-size: 15px;
													letter-spacing: 1px;
													text-underline-position: under;
													text-decoration: underline;
													color: #525252;
													&:hover {
														font-weight: bold;
													}
												}
											}
										}
									}
								}
								.couponInfo {
									background-color: #dbdbdb;
									margin-top: 5px;
									padding: 8px 10px;
									border-radius: 3px;
									.couponList {
										display: flex;
										justify-content: space-between;
										margin-top: 3px;
										.couponContent {
											mark {
												font-size: 14px;
												padding: 1px 3px;
												border-radius: 3px;
												&.cartMark {
													background-color: #ffff31;
												}
												&.sellerMark {
													background-color: rgb(69, 43, 216);
													color: #fff;
												}
											}
											span {
												margin-left: 5px;
											}
										}
									}
								}
								.orderItemActions {
									margin-top: 10px;
									display: flex;
									flex-wrap: wrap;
									gap: 5px;
									button {
										display: block;
										background-color: #e5e5e5;
										width: calc(50% - 2.5px);
										border-radius: 5px;
										padding: 5px 0;
										font-size: 16px;
										border: 1px solid #d5d5d5;
										&.active {
											background-color: #7aecef;
											color: #377ad1;
											font-weight: bold;
											border: 1px solid #6dd4d7;
										}
									}
								}
							}
						}
					}
				}
			}
			.addressSection {
				.addressInfo {
					h3 {
						font-size: 22px;
					}
					h6 {
						font-weight: 600;
						font-size: 19px;
						margin-top: 10px;
						letter-spacing: 1.5px;
						color: #575757;
					}
					h4 {
						font-weight: 500;
						font-size: 20px;
						margin-top: 5px;
					}
					h5 {
						i {
							display: inline-block;
							margin-right: 5px;
						}
						font-weight: 500;
						font-size: 18px;
						margin-top: 7px;
						color: #555555;
					}
				}
			}
			.paymentSection {
				.paymentInfo {
					letter-spacing: 1.1px;
					.totalPrice {
						display: flex;
						justify-content: space-between;
						font-weight: 900;
						font-size: 20px;
						color: #5551db;
					}
					.priceDetail {
						margin-top: 6px;
						border-left: 4px solid #cdcdcd;
						padding-left: 10px;
						> div {
							display: flex;
							justify-content: space-between;
							margin-top: 3px;
							font-size: 18px;
						}
					}
					.paymentMethod {
						display: flex;
						justify-content: space-between;
						font-size: 19px;
						margin-top: 5px;
					}
					.earnedMileage {
						margin-top: 10px;
						display: flex;
						justify-content: space-between;
						font-size: 18px;
						.price {
							font-weight: 900;
						}
					}
				}
			}
		}
	}
}
