/* ===============================
   Tailwind layers
=============================== */
/* settings.json에 이거 추가하면 오류안뜨긴함 "css.lint.unknownAtRules": "ignore" */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===============================
   Fonts
=============================== */
@font-face {
	font-family: "NanumPenScript";
	font-weight: normal;
	font-style: normal;
	src: url(../font/NanumPenScript-Regular.ttf) format("truetype");
}
@font-face {
	font-family: "Noto Sans KR", sans-serif;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: normal;
	src: url(../font/NotoSansKR-VariableFont_wght.ttf) format("truetype");
}
@font-face {
	font-family: "Noto Sans KR", sans-serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
	src: url(../font/NotoSansKR-VariableFont_wght.ttf) format("truetype");
}
@font-face {
	font-family: "Noto Sans KR", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	src: url(../font/NotoSansKR-VariableFont_wght.ttf) format("truetype");
}
@font-face {
	font-family: "Noto Sans KR", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	src: url(../font/NotoSansKR-VariableFont_wght.ttf) format("truetype");
}
@font-face {
	font-family: "Noto Sans KR", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	src: url(../font/NotoSansKR-VariableFont_wght.ttf) format("truetype");
}
@font-face {
	font-family: "Noto Sans KR", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	src: url(../font/NotoSansKR-VariableFont_wght.ttf) format("truetype");
}
@font-face {
	font-family: "Noto Sans KR", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	src: url(../font/NotoSansKR-VariableFont_wght.ttf) format("truetype");
}
@font-face {
	font-family: "Noto Sans KR", sans-serif;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: normal;
	src: url(../font/NotoSansKR-VariableFont_wght.ttf) format("truetype");
}
@font-face {
	font-family: "Noto Sans KR", sans-serif;
	font-optical-sizing: auto;
	font-weight: 900;
	font-style: normal;
	src: url(../font/NotoSansKR-VariableFont_wght.ttf) format("truetype");
}
/* ===============================
   Global base styles
=============================== */
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
button {
	font-family: "NanumPenScript", "NotoSansKR", sans-serif;
}
/* 스크롤 */
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
::-webkit-scrollbar-thumb {
	background-color: rgb(91, 90, 255);
}
::-webkit-scrollbar-track {
	background-color: #eaeaea;
	border-left: 1px solid #ccc;
}
ul,
li {
	list-style: none;
}
* {
	margin: 0;
	padding: 0;
	vertical-align: middle;
	box-sizing: border-box;
}
body {
	color: rgba(0, 0, 0, 0.85);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "NanumPenScript", "NotoSansKR", "Nanum Gothic", "Noto Serif KR", "Nanum Pen Script", "Roboto";
}
strong,
b {
	line-height: 1;
}
ul,
li {
	list-style: none;
}
a {
	cursor: pointer;
	color: rgba(0, 0, 0, 0.85);
	text-decoration: none;
}
p {
	margin-bottom: 0;
	font-family: "NotoSansKR";
}
/* 투명버튼 접근성 고려한 클래스이름 블라인드 */
.blind {
	display: block;
	text-indent: -2000px;
	overflow: hidden;
}
header,
main,
footer,
section,
nav,
aside {
	display: block;
}
.hide {
	display: none !important;
}
button {
	border: 0 none;
	cursor: pointer;
	background-color: transparent;
}
a {
	text-decoration: none;
}
img {
	border-style: none;
	max-width: 100%;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
	user-select: none;
	/*  */
	/* -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none; */
}
audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
	display: block;
	vertical-align: middle;
}
button > svg {
	display: inline;
}
.c-red {
	color: red !important;
}
.c-green {
	color: green !important;
}
.c-mediumseagreen {
	color: mediumseagreen !important;
}
.c-blue {
	color: blue !important;
}
.c-black {
	color: #000 !important;
}
.c-gray {
	color: gray !important;
}
.c-darkgray {
	color: darkgray !important;
}
.c-yellow {
	color: yellow !important;
}
.c-white {
	color: #fff !important;
}
.c-warning {
	color: #ffc041 !important;
}
.f-bold {
	font-weight: bold !important;
}
.align-left {
	text-align: left !important;
}
.align-right {
	text-align: right !important;
}
.align-center {
	text-align: center !important;
}
.read-only {
	background-color: cornsilk !important;
	border: 1px solid black;
}
.transparent {
	opacity: 0.2;
}
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.inline-block {
	display: inline-block;
}
.isLink-btn {
	cursor: pointer;
}
.isLink-btn:hover {
	text-decoration: underline;
}
.text-readonly {
	background-color: navajowhite !important;
}
.f-left {
	float: left;
}
.f-right {
	float: right;
}
/* on/off 버튼 */
.onoff-btn-wrap {
	padding: 0 10px;
}
.onoff-btn-wrap .onf-checkbox {
	position: absolute;
	/* hidden */
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.onoff-btn-wrap .switch-label {
	position: relative;
	cursor: pointer;
	display: inline-block;
	width: 58px;
	height: 28px;
	background: #fff;
	border: 2px solid #daa;
	border-radius: 20px;
	transition: 0.2s;
}
.onoff-btn-wrap .switch-label:hover {
	background: #efefef;
}
.onoff-btn-wrap .onf-btn {
	position: absolute;
	top: 2.5px;
	left: 3px;
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background: #daa;
	transition: 0.2s;
}
.onoff-btn-wrap .onf-txt {
	font-size: 18px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	margin-left: 10px;
}
.onoff-btn-wrap .onf-checkbox:checked + .switch-label {
	background: rgb(128, 197, 128);
	border: 2px solid rgb(133, 190, 133);
}
.onoff-btn-wrap .onf-checkbox:checked + .switch-label:hover {
	background: rgb(103, 158, 103);
}
.onoff-btn-wrap .onf-checkbox:checked + .switch-label .onf-btn {
	left: 34px;
	background: #fff;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1254901961);
}
/* type="number" 숫자조절 없애기 */
input.no-spin::-webkit-inner-spin-button,
input.no-spin::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
