/* on/off 버튼 */
.onOffBtnWrap {
	display: inline-flex;
	align-items: center;
}

.onfCheckbox {
	position: absolute;

	/* hidden */
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.switchLabel {
	position: relative;
	display: inline-block;
	border-radius: 999px;
	transition: 0.2s;
}

.onfBtn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: inline-block;
	border-radius: 999px;
	transition: 0.2s;
}

.onfTxt {
	user-select: none;
}

/* type="number" 숫자조절 없애기 (필요 시 유지) */
.noSpin::-webkit-inner-spin-button,
.noSpin::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
