/* on/off 버튼 */
.onOffBtnWrap {
	padding: 0 10px;
	display: inline-flex;
	align-items: center;
}
.onfCheckbox {
	position: absolute;
	/* hidden */
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.switchLabel {
	position: relative;
	cursor: pointer;
	display: inline-block;
	width: 58px;
	height: 28px;
	background: #fff;
	border: 2px solid #daa;
	border-radius: 20px;
	transition: 0.2s;
	&:hover {
		background: #efefef;
	}
}
.onfBtn {
	position: absolute;
	top: 2.5px;
	left: 3px;
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background: #daa;
	transition: 0.2s;
}
.onfTxt {
	font-size: 18px;
	user-select: none;
	margin-left: 10px;
}
/* checked 상태 */
.onfCheckbox:checked + .switchLabel {
	background: rgb(128, 197, 128);
	border: 2px solid rgb(133, 190, 133);

	&:hover {
		background: rgb(103, 158, 103);
	}

	.onfBtn {
		left: 34px;
		background: #fff;
		box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1254901961);
	}
}
/* type="number" 숫자조절 없애기 (필요 시 유지) */
.noSpin::-webkit-inner-spin-button,
.noSpin::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
