/* 드롭다운 + 리스트 */
.option-selector {
	font-family: "NotoSansKR";
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.option-selector .option-select-box {
	position: relative;
	cursor: pointer;
}
.option-selector .option-select-box input {
	font-family: "NotoSansKR";
	width: 100%;
	border: 1px solid #ccc;
	font-size: 1em;
	padding: 0.8em 1.1em;
	vertical-align: baseline;
	background-color: #fff;
	cursor: pointer;
}
.option-selector .option-select-box span {
	position: absolute;
	right: 2%;
	/* width: 35px; */
	height: 100%;
	font-size: 1.5em;
	align-content: center;
}
.option-selector .option-list {
	position: absolute;
	width: 100%;
	border: 1px solid #ccc;
	border-top: none;
	z-index: 100;
	background-color: #fff;
}
.option-selector .option-list li {
	padding: 8px 10px;
	font-size: 1em;
	cursor: pointer;
}
.option-selector .option-list li.on {
	background-color: #f0f0f0;
}
.option-selector .option-list li:hover {
	background-color: #e6e6e6;
}
.option-selector .option-list li h5 {
	font-family: "NotoSansKR";
	font-size: 1em;
	color: #979797;
	font-weight: 400;
}
